.menuContainer {
  position: absolute;
  top: 68px;
  right: 10px;
  width: 240px;
  li {
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.2s, color 0.2s;
    &:hover {
      background-color: var(--primary);
      color: white;
    }
  }
}
