:root {
  --primary: #ff6348;
  --gray-1: #20232a;
  --gray-2: #efefef;
  --red-1: #e74c3c;
  --font-family: "Montserrat", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: 0 2px 18px 0 rgb(0 0 0 / 22%);
  --text-color: #444;
}
