@use "../../assets/styles/mixins" as mixin;

.grid {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 350px);
  grid-auto-columns: repeat(3, 350px);
  gap: 20px;
  @include mixin.lg-lt {
    grid-template-columns: repeat(2, 350px);
    grid-auto-columns: repeat(2, 350px);
  }
  @include mixin.md-lt {
    grid-template-columns: 350px;
    grid-auto-columns: 350px;
  }
  @include mixin.xs {
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }
}

.contentCard {
  max-width: 1130px;
  width: 100%;
}
